.info{
  margin-left: 30;
  padding-left: 30;
}
.btnn{
  padding-inline: 39px;
  border: rgb(242, 236, 236);
  background-color: white;
}
button :hover{
  background-color: grey;
}
.pbtn{
  text-decoration: underline 4px rgb(82, 168, 185)
}
.searchInput{
  border: 1px solid rgb(72, 162, 231);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.loginfo{
  margin-top: 40%;
}
/* .box{
  background-color: rgb(231, 226, 226);
} */